.inicioMain {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inicioPrimerSection {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	padding-bottom: 3.5em;
	text-shadow: 0 1px 2px rgba(193, 193, 193, 0.6);
}

.inicioPrimerSection__banner {
	margin-top: 1em;
	width: 100%;
	max-width: 1024px;
	max-height: 150px;
	height: auto;
	object-position: center;
	object-fit: contain;
	aspect-ratio: 1024/150;
	max-width: 870px;
	padding-left: 1em;
	padding-right: 1em;
}
.inicioPrimerSection__titulo {
	width: 100%;
	max-width: 870px;
	font-size: clamp(14px, 1.5vh + 2vw, 32px);
	font-family: "Sarabun-Bold", "sans-serif";
	font-weight: 500;
	color: #e3dad3;
	text-wrap: pretty;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 67%);
	padding-left: 0.6em;
	padding-right: 0.6em;
}
.prodYServiciosContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 1em;
	row-gap: 0em;
	width: 100%;
	max-width: 1000px;
}
.inicioPrimerSection::after {
	content: "";
	background-image: url(/assets/media/inicio/webp/lavaground.webp);
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: -3vh;
	z-index: 10;
}
.descAmpliadaContainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	background-image: url(/assets/media/inicio/webp/background-magma.webp);
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 3em;
	padding-right: 3em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
.prodServUbicacionContainer::after {
	position: absolute;
	top: -1%;
	content: "";
	width: 100%;
	height: 65px;
	background-image: url(/assets/media/inicio/webp/borde-magma-abajo.webp);
	background-size: contain;
	z-index: 10;
}
.descAmpliadaContainer__tituloSubtituloContainer {
	width: 375px;
	padding-right: 1em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
.descAmpliadaContainer__tituloSubtituloContainer__titulo {
	font-family: "Poppins-Bold";
	color: #ff7b00;
	text-wrap: balance;
	font-size: clamp(14px, 1.1vh + 1.4vw, 22px);
	line-height: 1em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
.descAmpliadaContainer__tituloSubtituloContainer__subtitulo {
	font-size: clamp(16px, 1.4vh + 1.8vw, 30px);
	font-family: "Sarabun-Bold", "sans-serif";
	text-wrap: balance;
	padding-top: 0.35em;
}
.descAmpliadaContainer__texto {
	width: 650px;
	font-size: clamp(12px, 1vh + 1.8vw, 1.2em);
	font-family: "Sarabun-Medium", "sans-serif";
	color: white;
	text-wrap: balance;
	padding-left: 1em;
	border-left: 1px solid white;
}
.prodServUbicacionContainer {
	position: relative;
	width: 100%;
	display: flex;
	background-color: #272727;
	background-image: url(/assets/media/inicio/webp/background-piedra.webp);
	background-size: cover;
	background-blend-mode: hard-light;
	flex-direction: column;
	align-items: center;
}
.sectionContainer {
	position: relative;
	display: flex;
	width: 100%;
	color: #e3dad3;
	flex-direction: column;
	align-items: center;
}
.sectionContainer:first-child {
	/* Productos */
	padding-top: 3.5em;
	padding-bottom: 1.5em;
}
.sectionContainer:nth-child(3) {
	/* Trabajamos en */
	padding-top: 1.5em;
	padding-bottom: 2em;
}

.ubicacionesContainer__mapaYtextoContainer {
	width: 100%;
	display: flex;
	padding-top: 1em;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}
.ubicacionesContainer__mapaYtextoContainer__mapa {
	width: 50%;
	max-width: 300px;
	height: 300px;
	border: #d06f2a 2px solid;
}
.ubicacionesContainer__mapaYtextoContainer__texto {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.3em;
	list-style-type: disc;
	font-size: clamp(14px, 0.8vw + 0.8vh, 18px);
	font-family: "Sarabun-Bold", "sans-serif";
	margin-left: 2em;
	margin-right: 2em;
	padding-bottom: 1em;
}

@media screen and (max-width: 700px) {
	.descAmpliadaContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 2.5em;
		padding-bottom: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
	}
	.descAmpliadaContainer__tituloSubtituloContainer {
		width: 100%;
	}
	.descAmpliadaContainer__texto {
		width: 100%;
		font-family: "Sarabun-Medium", "sans-serif";
		text-wrap: balance;
		margin-top: 1em;
		padding-top: 0.4em;
		border-left: 0px;
		border-top: 1px solid white;
	}
	.ubicacionesContainer__mapaYtextoContainer__mapa {
		width: 90%;
	}
}
@media screen and (max-width: 475px) {
	.inicioPrimerSection {
		width: 100%;
	}
	.inicioPrimerSection__prodYServiciosContainer {
		padding-top: 1em;
		gap: 0.2em;
	}
	.prodYServiciosContainer {
		gap: 0px;
	}
}
