.categoriaServiciosDetalleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.categoriaServiciosDetalleContainer__imgTextoContainer {
	display: flex;
	position: relative;
	padding-bottom: 4em;
	padding-left: 2em;
	text-wrap: balance;
	padding-right: 2em;
}
.categoriaServiciosDetalleContainer__imgTextoContainer__img {
	position: absolute;
	z-index: -1;
	/* object-fit: cover; */
	/* object-position: center; */
	filter: brightness(0.4) blur(1px) opacity(0.8);
	width: 100%;
	max-width: 500px;
	aspect-ratio: 1 / 1;
	left: 50%;
	transform: translateX(-50%);
}
.categoriaServiciosDetalleContainer__imgTextoContainer__texto {
	color: #e3dad3;
	width: 100%;
	max-width: 700px;
	padding-top: 0.5em;
	font-size: clamp(14px, 1vh + 1vw, 1.2em);
	text-align: center;
	font-family: "Sarabun-Medium", "sans-serif";
	text-shadow: 0 0 2px black;
}
.footerAsesoramiento {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0.5em;
	text-shadow: 0 0 2px black;
}
.mediosContainer {
	color: #e3dad3;
	font-size: clamp(14px, 1vh + 1vw, 1.2em);
	font-family: "Sarabun-Medium", "sans-serif";
	text-shadow: 0 0 2px black;
	padding-top: 0px;
}
